# hidden config files
.DS_Store

# dependencies
node_modules

# file with environment variables
.env

# demo/test scenes
demos/
test-scene/

# ignore everything on the "scenes/" directory
scenes/*

# except for "scenes/materials", "scenes/sample-models" and "scenes/envmaps"
!scenes/materials
!scenes/sample-models
!scenes/envmaps
